 #mainScreen {
 	display: flex;
 	width: 100%;
 	flex-direction: row;
 	flex-wrap: wrap;
 	justify-content: space-around;
 }

 .oops {
 	display: flex;
 	justify-content: center;
    align-items: center;
    height: 100vh;
 }